<!-- <div class="container">
  <header
    class="d-flex flex-wrap justify-content-center py-3 mb-0 border-bottom"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <img class="logo" src="../../assets/logo.png" width="120px" alt="" />
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page"
          >Find Health Insurance</a
        >
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Learn</a></li>
      <li class="nav-item"><a href="#" class="nav-link">(855) 592 2464</a></li>
      <li class="nav-item">
        <a href="#" class="nav-link">Subscribe to Ensuranx</a>
      </li>
    </ul>
  </header>
  <img
    class="section-img"
    width="1336rem"
    src="../../assets/Section.png"
    alt=""
  />
  <img
    class="x-overlay"
    width="600rem"
    src="../../assets/x-overlay.png"
    alt=""
  />
</div> -->

<div class="MAIN-HOMEPAGE">
  <div class="div">
    <div class="group">
      <div class="group-2">
        <p class="text-wrapper">
          Our mission is to simplify your insurance options which provides
          accessible and affordable coverage that are suitable for your needs
        </p>
        <div class="text-wrapper-2">Why ensuranX ?</div>
      </div>
      <div class="group-3">
        <img class="rectangle" src="../../assets/rectangle-130.png" />
        <img class="img" src="../../assets/rectangle-135.png" />
        <img class="rectangle-2" src="../../assets/rectangle-137.png" />
        <img class="rectangle-3" src="../../assets/rectangle-137-2.png" />
      </div>
    </div>
    <div class="group-4">
      <p class="p">Compare plans and enroll in 3 easy steps</p>
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <img class="element" src="../../assets/1.png" />
          <img class="element-2" src="../../assets/2.png" />
          <img class="element-3" src="../../assets/3.png" />
          <div class="group-5">
            <div class="group-6">
              <p class="text-wrapper-3">Match with plans that fit your needs</p>
              <div class="text-wrapper-4">Compare plans side-by-side</div>
              <p class="text-wrapper-5">Enroll online or with an agent</p>
            </div>
            <div class="group-7">
              <p class="text-wrapper-6">
                Enter your zip code, answer a few easy questions about the
                coverage you need including your doctor and your medications.
              </p>
              <p class="text-wrapper-7">
                Review the plans in your area that match your needs. Compare
                benefits, and coverage side-by-side.
              </p>
              <p class="text-wrapper-8">
                Enroll online or with an agent over the phone,– no fees or
                obligations for our service
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-8">
      <p class="text-wrapper-9">
        Select the coverage you need for any stage of life
      </p>
      <div class="group-9">
        <div class="group-10">
          <div class="overlap-wrapper">
            <div class="overlap">
              <img class="rectangle-4" src="../../assets/rectangle-140.png" />
              <img class="rectangle-5" src="../../assets/rectangle-143.png" />
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-11">
                <p class="get-health-insurance">
                  Get health insurance coverage for you or your family. Match
                  with plans that fit your needs and your budget. Save on
                  doctor&#39;s visits, prescription drugs, preventative care and
                  other healthcare services.
                </p>
                <div class="text-wrapper-11">Individual and family plans</div>
              </div>
            </div>
          </div>
          <div class="group-12">
            <div class="overlap">
              <img class="rectangle-4" src="../../assets/rectangle-144.png" />
              <img class="rectangle-5" src="../../assets/rectangle-145.png" />
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-13">
                <p class="text-wrapper-12">
                  Compare Medicare Advantage, Medicare Supplement, or
                  prescription drug plans. Find plans that cover your doctors
                  and prescriptions. Check if switching Medicare plans can
                  increase your coverage while staying in your budget.
                </p>
                <div class="text-wrapper-13">Medicare plans</div>
              </div>
            </div>
          </div>
          <div class="group-14">
            <div class="overlap">
              <img class="rectangle-4" src="../../assets/rectangle-144-2.png" />
              <img class="rectangle-5" src="../../assets/rectangle-145-2.png" />
              <div class="div-wrapper">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-15">
                <p class="text-wrapper-14">
                  See if your business qualifies for tax credits to cover some
                  costs of employee premiums. Give employees flexibility with
                  Individual Contribution Health Reimbursement Accounts (ICHRA)
                  All employees, even part-time, can participate. Offer
                  employees more options than traditional plans.
                </p>
                <div class="text-wrapper-11">Small Business plans</div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-16">
          <div class="group-17">
            <div class="overlap-2">
              <img class="rectangle-7" src="../../assets/rectangle-146.png" />
              <img class="rectangle-5" src="../../assets/rectangle-147.png" />
              <div class="group-18">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-19">
                <p class="text-wrapper-15">
                  Designed to provide temporary health coverage. Offers limited
                  coverage at affordable prices. Easily enroll online and start
                  coverage in a few days.
                </p>
                <div class="text-wrapper-11">Short-term plans</div>
              </div>
            </div>
          </div>
          <div class="group-20">
            <div class="overlap-2">
              <img class="rectangle-7" src="../../assets/rectangle-148.png" />
              <img class="rectangle-5" src="../../assets/rectangle-149.png" />
              <div class="group-18">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-21">
                <p class="text-wrapper-16">
                  May have relatively low monthly premiums. Can cover everything
                  from routine cleanings to fillings. May cover more
                  comprehensive procedures.
                </p>
                <div class="text-wrapper-11">Dental plans</div>
              </div>
            </div>
          </div>
          <div class="group-22">
            <div class="overlap-2">
              <img class="rectangle-7" src="../../assets/rectangle-150.png" />
              <img class="rectangle-5" src="../../assets/rectangle-151.png" />
              <div class="group-18">
                <div class="overlap-group-2">
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-10">Compare Medicare Plans</div>
                </div>
              </div>
              <div class="group-21">
                <p class="text-wrapper-16">
                  Can cover annual eye exams. May reduce the cost of contact
                  lenses or glasses. May cover more comprehensive procedures.
                </p>
                <div class="text-wrapper-11">Vision plans</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-23">
      <div class="overlap-3">
        <div class="rectangle-8"></div>
        <div class="rectangle-9"></div>
        <div class="rectangle-10"></div>
        <div class="group-24">
          <div class="group-25">
            <img class="rectangle-11" src="../../assets/rectangle-152.png" />
            <img class="rectangle-12" src="../../assets/rectangle-152-2.png" />
            <img class="rectangle-13" src="../../assets/rectangle-153.png" />
          </div>
          <div class="group-26">
            <div class="group-27">
              <p class="text-wrapper-17">Check if your doctor covered</p>
              <p class="text-wrapper-18">
                Enter your doctors or specialists to compare the plans they
                accept.
              </p>
            </div>
            <div class="group-28">
              <p class="text-wrapper-19">
                Check if your prescriptions are covered
              </p>
              <p class="text-wrapper-20">
                Enter your prescriptions to compare their coverage across on
                multiple plans side by side
              </p>
            </div>
            <div class="group-29">
              <p class="text-wrapper-21">Pick up where you leave off</p>
              <p class="text-wrapper-22">
                Save your information in one secure location and resume shopping
                at any time.
              </p>
            </div>
          </div>
        </div>
      </div>
      <p class="text-wrapper-23">Get your free personal plan recommendations</p>
      <div class="group-30">
        <div class="overlap-group-2">
          <div class="rectangle-6"></div>
          <div class="text-wrapper-10">Compare Medicare Plans</div>
        </div>
      </div>
    </div>
    <div class="overlap-4">
      <div class="section"></div>
      <img class="group-31" src="../../assets/group-250.png" />
      <img class="component" src="../../assets/component-36.png" />
      <div class="frame">
        <div class="div-2">
          <div class="group-32">
            <div class="group-33">
              <div class="overlap-group-3">
                <img class="vector" src="../../assets/medicare-plan.png" />
              </div>
            </div>
            <div class="text-wrapper-24">Medicare Plan</div>
          </div>
        </div>
        <div class="component-2">
          <div class="overlap-5">
            <div class="component-3">
              <div class="div-2">
                <div class="medicare-plan">Individuals &amp; Family</div>
              </div>
            </div>
            <div class="div-3">
              <img class="vector-7" src="../../assets/indv-family.png" />
            </div>
          </div>
        </div>
        <div class="component-2">
          <div class="overlap-5">
            <div class="component-3">
              <div class="div-2">
                <div class="medicare-plan-2">Small Business</div>
              </div>
            </div>
            <div class="div-3">
              <div class="overlap-6">
                <img
                  class="small-business"
                  src="../../assets/small-business.png"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="div-2">
          <div class="group-34">
            <div class="text-wrapper-25">Dental Vision</div>
          </div>
          <div class="div-3">
            <img class="vector-13" src="../../assets/vector-34.svg" />
            <img class="vector-14" src="../../assets/vector-8.svg" />
            <img class="vector-15" src="../../assets/vector-13.svg" />
          </div>
        </div>
        <div class="div-2">
          <div class="medicare-plan-wrapper">
            <div class="text-wrapper-25">Short-Term Medical</div>
          </div>
          <div class="div-3">
            <img class="vector-16" src="../../assets/vector-46.svg" />
            <img class="vector-17" src="../../assets/vector-6.svg" />
            <img class="vector-18" src="../../assets/vector-23.svg" />
            <img class="vector-19" src="../../assets/vector-38.svg" />
            <img class="vector-20" src="../../assets/vector-27.svg" />
            <img class="vector-21" src="../../assets/vector-29.svg" />
            <img class="vector-22" src="../../assets/vector-36.svg" />
            <img class="vector-23" src="../../assets/vector-5.svg" />
          </div>
        </div>
      </div>
      <p class="text-wrapper-26">
        Simplifying Your Insurance Options for Accessible and Affordable
        Coverage
      </p>
      <div class="group-35">
        <div class="rectangle-14"></div>
        <div class="overlap-7">
          <div class="rectangle-15"></div>
          <img class="group-36" src="../../assets/logo.png" />
          <div class="group-37">
            <div class="overlap-group-5">
              <div class="nav-main-navigation">
                <div class="nav-main-navigation-2">(855) 592 2464</div>
              </div>
              <div class="group-38">
                <div class="nav-main-navigation-3">Find Health Insurance</div>
                <div class="group-39"></div>
              </div>
              <div class="nav-main-navigation-wrapper">
                <div class="nav-main-navigation-4">Learn</div>
              </div>
              <div class="component-4">
                <div class="nav-main-navigation-5">Subscribe to Ensuranx</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <img class="component-5" src="../../assets/component-54.png" />
    </div>
    <div class="frame-2">
      <div class="rectangle-16"></div>
      <div class="frame-3">
        <p class="text-wrapper-27">Find your health insurance match</p>
        <div class="frame-4">
          <div class="frame-5">
            <div class="div-2">
              <div class="group-32">
                <div class="group-33">
                  <div class="overlap-group-3">
                    <img class="vector" src="../../assets/medicare-plan.png" />
                  </div>
                </div>
                <div class="text-wrapper-24">Medicare Plan</div>
              </div>
            </div>
            <div class="div-2">
              <div class="individuals-family">Individuals &amp; Family</div>
              <div class="div-3">
                <img class="vector-7" src="../../assets/indv-family.png" />
                <!-- <img class="vector-8" src="../../assets/vector-16.png" /> -->
              </div>
            </div>
            <div class="component-2">
              <div class="group-40">
                <div class="div-2">
                  <div class="medicare-plan-3">Small Business</div>
                  <div class="div-3">
                    <div class="overlap-group-6">
                      <img
                        class="small-business"
                        src="../../assets/small-business.png"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-5">
            <div class="component-2">
              <div class="group-41">
                <div class="group-34">
                  <div class="text-wrapper-25">Dental Vision</div>
                </div>
                <div class="div-3">
                  <img class="vector-13" src="../../assets/vector-34.svg" />
                  <img class="vector-14" src="../../assets/vector-8.svg" />
                  <img class="vector-15" src="../../assets/vector-13.svg" />
                </div>
              </div>
            </div>
            <div class="component-2">
              <div class="group-41">
                <div class="medicare-plan-wrapper">
                  <div class="text-wrapper-25">Short-Term Medical</div>
                </div>
                <div class="div-3">
                  <img class="vector-16" src="../../assets/vector-46.svg" />
                  <img class="vector-17" src="../../assets/vector-6.svg" />
                  <img class="vector-18" src="../../assets/vector-23.svg" />
                  <img class="vector-19" src="../../assets/vector-38.svg" />
                  <img class="vector-20" src="../../assets/vector-27.svg" />
                  <img class="vector-21" src="../../assets/vector-29.svg" />
                  <img class="vector-22" src="../../assets/vector-36.svg" />
                  <img class="vector-23" src="../../assets/vector-5.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="group-42">
      <div class="overlap-8">
        <div class="group-43">
          <div class="overlap-9">
            <div class="div-elementor">
              <p class="text-wrapper-28">
                There are many variations of pass ages
              </p>
              <p class="text-wrapper-29">of Lorem Ipsum available, but the</p>
              <p class="text-wrapper-30">
                majority have suffered alteration in
              </p>
              <div class="text-wrapper-31">some form working insurigo</div>
            </div>
            <div class="div-elementor-2">
              <div class="link"><div class="symbol"></div></div>
              <div class="symbol-wrapper">
                <div class="symbol-2"></div>
              </div>
              <div class="link-2"><div class="symbol-3"></div></div>
              <div class="link-3"><div class="symbol-3"></div></div>
            </div>
            <img class="frame-6" src="../../assets/frame-551.png" />
            <div class="group-wrapper">
              <div class="group-44">
                <div class="div-elementor-widget">
                  <div class="overlap-group-7">
                    <div class="text-wrapper-32">©</div>
                    <div class="text-wrapper-33">2023</div>
                    <p class="ensuranx-designed-by">
                      ensuranx. Designed By OneDesignsStudio
                    </p>
                  </div>
                </div>
                <div class="nav-list-wrapper">
                  <div class="nav-list">
                    <div class="item-link">
                      <div class="text-wrapper-34">Sitemap</div>
                    </div>
                    <div class="item-link-2">
                      <div class="pseudo"></div>
                      <div class="text-wrapper-35">Privacy Policy</div>
                    </div>
                    <div class="item-link-3">
                      <div class="pseudo"></div>
                      <div class="text-wrapper-36">Terms of use</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <img class="group-45" src="../../assets/logo.png" />
          </div>
          <div class="group-46">
            <div class="group-47">
              <div class="text-wrapper-37">For Patients</div>
              <div class="pseudo-2"></div>
              <p class="list-item-link">Account Sign Up / Log In</p>
              <div class="list-item-link-2">Hospital Awards &amp; Ratings</div>
              <div class="list-item-link-3">Finding Quality Care</div>
              <div class="list-item-link-drugs">Drugs A-Z</div>
              <div class="list-item-link-4">Healthgrades Health Library</div>
            </div>
            <div class="group-48">
              <div class="text-wrapper-38">For Providers</div>
              <div class="pseudo-3"></div>
              <div class="list-item-link-5">Provider Log In</div>
              <div class="list-item-link-6">Promote Your Practice</div>
              <div class="list-item-link-claim">Claim Your Free Profile</div>
              <div class="list-item-link-news">News and Features</div>
              <div class="list-item-link-help">Help Center</div>
            </div>
            <div class="group-49">
              <div class="text-wrapper-39">Our Company</div>
              <div class="pseudo-4"></div>
              <div class="list-item-link-7">Contact Us</div>
              <div class="list-item-link-about">About Us</div>
              <div class="list-item-link-8">Corporate</div>
              <div class="list-item-link-9">Healthgrades</div>
              <div class="list-item-link-blog">Blog</div>
            </div>
          </div>
        </div>
        <div class="group-50">
          <div class="group-51">
            <div class="overlap-10">
              <div class="group-52">
                <p class="text-wrapper-40">
                  Get instant news by subscribe to our daily newsletter.
                </p>
                <div class="heading-get-daily">Get Daily Insurance News</div>
              </div>
              <div class="form-contact-form-wrapper">
                <div class="form-contact-form">
                  <div class="overlap-11">
                    <div class="div-placeholder">
                      <div class="text-wrapper-41">
                        Enter your email address
                      </div>
                    </div>
                    <div class="group-53">
                      <div class="overlap-group-8">
                        <div class="text-wrapper-10">Subscribe Now</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
